@model News

<style>
    #tex {
        background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
        color: white;
    }
</style>
<div class="row d-flex justify-content-center" style="color: black;">
    <div class="col-lg-8">
        <div class="bg-white p-4 rounded shadow-sm">
            <h1 class="h4 mb-4 d-flex justify-content-center fw-bold">@Model.Title</h1>
            <ul class="list-inline-item">
                <li class="list-inline-item"><i class="bi bi-calendar"></i> @Model.PublishedOn.ToString("d")</li>
                <li class="list-inline-item">
                    <i class="bi bi-person-circle"></i>@Model.User.Name
                </li>
            </ul>
            <hr>
            <div>@Html.Raw(@Model.Content)</div>
        </div>

        <div class="bg-white mt-3 rounded shadow-sm">
            <div class="card border-0">
                <div class="card-header pb-0" id="tex">
                    <h4><span id="commentCount">@Model.Comments.Count()</span> adet yorum</h4>
                </div>
                <div class="card-body">
                    <div id="comments">
                        @foreach (var comment in Model.Comments)
                        {
                            <div class="my-4 d-flex">
                                <img src="/images/@comment.User.Image" alt="" id="user_image"
                                    style="width: 3rem; height: 3rem;" class="avatar rounded-circle float-start me-3">
                                <div>
                                    <div class="mb-2 d-flex">
                                        <h6 class="me-2">
                                            @comment.User.Name
                                        </h6>
                                        <small>@comment.PublishedOn.ToString("g")</small>
                                    </div>
                                    <p>@comment.Text</p>
                                </div>
                            </div>
                        }
                    </div>

                    @if (User.Identity!.IsAuthenticated)
                    {
                        <hr class="my-4">
                        <div>
                            <h4 class="mb-3">Yorum Ekle</h4>
                            <form action="/news/AddComment" method="post">
                                <input type="hidden" id="NewsId" name="NewsId" value="@Model.NewsId">
                                <div class="mb-3">
                                    <label for="Text" class="form-label">Yorum</label>
                                    <textarea type="text" name="Text" id="Text" rows="3" class="form-control"></textarea>
                                </div>
                                <div class="mb-3">
                                    <button id="btnYorumKayit" type="submit" class="btn btn-primary">Kaydet</button>
                                </div>
                            </form>
                        </div>
                    }
                    else
                    {
                        <p>Yorum yapmak için <a href="/users/login">Giriş</a> yapmalısınız.</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $("#btnYorumKayit").click(function () {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("AddComment")',
                    dataType: 'json',
                    data: {
                        PostId: $('#NewsId').val(),
                        UserName: $('#UserName').val(),
                        Text: $('#Text').val()
                    },
                    success: function (yorum) {
                        var date = new Date(yorum.publishedOn);

                        $("#comments").append(`
                                    <div class="my-4 d-flex">
                                        <div>
                                            <div class="mb-2 d-flex">
                                                <h6 class="me-2">${yorum.username}</h6>
                                                <small>${date.toLocaleDateString()}</small>
                                            </div>
                                            <p>${yorum.text}</p>
                                        </div>
                                    </div>
                                    `);


                        var adet = parseInt($("#commentCount").text());
                        $("#commentCount").text(adet + 1);
                    }
                });
                return false;
            });

        });
    </script>
}
